<a href="https://colab.research.google.com/github/Willy-inovem/Ular-py/blob/main/Latihan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
print(a)
type(a)

3

In [ ]:
a=3
b=4+a
b

7

In [ ]:
angka=[1,2,3,4,5,6]
type(angka)
angka[4]
nama=["Ade","Aira","Budi","Bagus"]
nama[3]
print(nama[3])
print(nama)
print(angka)

Bagus
['Ade', 'Aira', 'Budi', 'Bagus']
[1, 2, 3, 4, 5, 6]

In [ ]:
HelloWorld=["print"]
type(HelloWorld)
HelloWorld

['print']

In [ ]:
contoh_set = set ([])

In [ ]:
Belanjaan={"mangga":5000,"Apel":6000,
            "Semangka":12000,"Jeruk":6000}
print("Daftar Belanja")
Belanjaan

Daftar Belanja

{'mangga': 5000, 'Apel': 6000, 'Semangka': 12000, 'Jeruk': 6000}